.App {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.ComponentContainer {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fce5cd; /* Color pastel - Amarillo claro */
}

.ListContainer {
  margin-bottom: 20px;
}

.ReadonlyContainer {
  margin-bottom: 20px;
}

.InputContainer {
  margin-bottom: 20px;
}

.TupleContainer {
  margin-bottom: 20px;
}